:root {
    --lightColor: rgb(64, 207, 226);
    --darkColor: rgb(25, 156, 196);
}

::-webkit-scrollbar {
    width: .8rem;
    height: .8rem;
}

::-webkit-scrollbar-track {
    background: var(--lightColor);
}

::-webkit-scrollbar-thumb {
    background: var(--darkColor);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.main>header {
    position: sticky;
    top: 0;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
}

.main>header>a {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
}

.main>header>a>img {
    width: 180px;
    height: 60px;
    object-fit: cover;
}

.main>header>ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.main>header>ul>li {
    position: relative;
}

.main>header>ul>li>ul {
    position: absolute;
    top: 78px;
    left: -32px;
    display: none;
    flex-direction: column;
    gap: 3px;
    list-style: none;
}

.main>header>ul>li>ul>li {
    position: relative;
}

.main>header>ul>li>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: var(--darkColor);
    width: 200%;
    display: inline-block;
    padding: 15px 10px;
}

.main>header>ul>li:hover>ul {
    display: flex;
}

.main>header>ul>li>ul>li>a:hover {
    text-decoration: underline;
}

.main>header>ul>li>ul>li>ul {
    width: 200%;
    list-style: none;
    position: absolute;
    left: 200%;
    top: 0;
    display: none;
    flex-direction: column;
    gap: 3px;
    padding-left: 3px;
}

.main>header>ul>li>ul>li:hover>ul {
    display: flex;
}

.main>header>ul>li>ul>li>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: var(--lightColor);
    display: block;
    padding: 15px 10px;

}

.main>header>ul>li>ul>li>ul>li:hover>a {
    text-decoration: underline;
}

.main>header>ul>li>a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--darkColor);
    transition: .5s;
    padding: 0 20px;
    text-transform: uppercase;
    height: 80px;
    position: relative;
}

.main>header>ul>li>a::after {
    content: '';
    background-color: var(--lightColor);
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 5px;
    transition: 1s;
}

.main>header>ul>li>a:hover::after {
    left: 0%;
    width: 100%;
}

.main>header>ul>li>a:hover {
    background-color: var(--darkColor);
    color: white;
}

.main>main {
    padding: 20px 0;
}




.last-area {
    width: 100%;
    background-color: var(--lightColor);
    padding: 30px 0;
    margin-top: 50px;
}

.last-area>.last-area-back {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.last-area>.last-area-back>article {
    font-size: 180px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(219, 214, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}

.last-area>.last-area-back>.last-area-sosial-main {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.last-area>.last-area-back>.last-area-sosial-main>.last-area-heading {
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0 3px 5px rgb(85, 81, 81);
}

.last-area>.last-area-back>.last-area-sosial-main>.last-area-sosial {
    display: flex;
    gap: 10px;
}

.last-area>.last-area-back>.last-area-sosial-main>.last-area-sosial>a {
    width: 40px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 15px;
    box-shadow: 0 2.5px 6px 1px rgb(85, 81, 81);
}

.last-area>.last-area-contact-main {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 35px;
}

.last-area>.last-area-contact-main>.last-area-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

.last-area>.last-area-contact-main>.last-area-contact>a {
    background-color: white;
    display: flex;
    align-items: center;
    font-family: serif !important;
    color: var(--darkColor);
    padding: 7px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.last-area>.last-area-contact-main>.last-area-contact>a>i {
    color: var(--darkColor);
    padding: 7px;
    border-radius: 4px;
    margin-right: 10px;
}

.last-area>.copyright {
    width: 100%;
    text-align: center;
}

.last-area>.copyright>span {
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    font-family: 'Times New Roman', Times, serif !important;
}

.last-area>.copyright>span>a {
    font-family: 'Times New Roman', Times, serif !important;
}







@media(max-width: 1180px) {
    .last-area>.last-area-back>article {
        font-size: 150px;
    }

    .last-area>.last-area-contact-main {
        bottom: 28px;
    }
}

@media(max-width: 1110px) {
    .main>header>ul>li>a {
        font-size: 1.06rem;
    }
}

@media(max-width: 995px) {
    .main>header {
        height: auto;
    }

    .main>header>ul {
        position: absolute;
        top: 60px;
        flex-direction: column;
        background-image: url(profil/art-arxa.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-color: white;
        height: auto;
        width: 100%;
        transform: translateX(-120%);
        transition: 1s;
        padding: 0;
        padding-bottom: 30px;
    }

    .main>header>.come-go {
        transform: translate(0%);
    }

    .main>header>ul>li {
        width: 100%;
        top: 0;
    }

    .main>header>ul>li>a {
        width: 100%;
        height: 60px;
        font-size: 1.25rem;
    }

    .main>header>ul>li>ul {
        position: static;
    }

    .main>header>ul>li>ul>li>a {
        width: 100%;
    }

    .main>header>ul>li>ul>li>ul {
        position: static;
        width: 100%;
        padding-left: 25px;
    }

    .main>header>ul>li>ul>li>ul>li>a {
        width: 100%;
    }

    .last-area>.last-area-back {
        flex-wrap: wrap;
    }

    .last-area>.last-area-back>article {
        font-size: 100px;
    }

    .last-area>.last-area-back>article.first-l {
        width: calc(100% / 3);
        text-align: center;
    }

    .last-area>.last-area-back>.last-area-sosial-main {
        gap: 2px;
    }

    .last-area>.last-area-contact-main {
        bottom: 15px;
    }
}

@media(max-width: 470px) {
    .main {
        padding: 0;
    }

    .last-area>.last-area-back>article {
        font-size: 80px;
        padding: 10px 0;
    }

    .last-area>.last-area-back>.last-area-sosial-main {
        gap: 0;
    }

    .last-area>.last-area-back>.last-area-sosial-main>.last-area-heading {
        font-size: 15px;
    }

    .last-area>.last-area-back>.last-area-sosial-main>.last-area-sosial a {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .last-area>.copyright {
        border-bottom: 1px solid white;
        padding-bottom: 15px;
        width: 95%;
        margin: 0 auto;
    }

    .last-area>.copyright>span {
        border-bottom: none;
        padding-bottom: 0;
    }
}


@media(max-width: 350px) {
    .last-area>.last-area-back>article {
        font-size: 70px;
        padding: 10px 0;
    }
}

@media(max-width: 300px) {
    .last-area>.last-area-back>article {
        font-size: 60px;
    }
}


@media(min-width: 1600px) {
    footer {
        font-size: 140%;
    }
}