* {
    font-family: sans-serif;
}

::marker {
    color: orangered;
    font-size: 1.2rem;
}

main .enterence {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 249, 252);
    padding: 80px 5%;
}

main .enterence .enterence-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 20px;
}

main .enterence .enterence-text span a {
    color: var(--darkColor);
    background-color: white;
    padding: 12px 0;
    display: inline-block;
    width: 110px;
    text-align: center;
    font-size: 90%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .5s;
    border: 1px solid var(--darkColor);
    font-weight: 900;
}

main .enterence .enterence-text span a:hover {
    width: calc(100% - 200px);
}

main .enterence .enterence-photo {
    padding: 25px 0;
    width: 45%;
}

main .enterence .enterence-photo img {
    float: right;
}

main .information {
    width: 100%;
    background-color: rgb(223, 226, 226);
    margin: 35px 0;
    padding: 30px 0;
}

main .information .information-child {
    width: 88%;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 0 5px gray;
}

main .information .information-child .information-children {
    width: calc(100% / 3);
    border-bottom: 1px solid var(--darkColor);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

main .information .information-child .information-children h2 {
    color: var(--darkColor);
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

main .information .information-child .information-children span {
    text-align: justify;
}

main .proses {
    width: 100%;
    margin: 15px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main .proses h1 {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    font-weight: 800;
}

main .proses .proses-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 10px;
}

main .proses .proses-child div {
    width: 40%;
    height: auto;
}

main .proses .proses-child div img {
    width: 100%;
    height: auto;
}

main .proses .proses-child ol {
    width: 40%;
}

main .proses .proses-child ol li {
    width: 100%;
}



main .profession-more {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

main .profession-more p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    width: 45%;
}

main .profession-more h1 {
    color: var(--darkColor);
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main .profession-more div {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
}

main .profession-more div span {
    background-color: var(--lightColor);
    width: 45%;
    height: 68px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}




@media(max-width: 1055px) {
    main .enterence .enterence-text {
        width: 50%;
    }

    main .information .information-child {
        width: 95%;
    }
}


@media(max-width: 950px) {
    main .information .information-child {
        flex-wrap: wrap;
    }

    main .information .information-child .information-children {
        width: calc((100% / 2) - 12.5px);
        padding-bottom: 15px;
    }

    main .proses .proses-child ol {
        width: 55%;
    }

    main .profession-more p {
        width: 55%;
    }
}

@media(max-width: 860px) {
    main .enterence {
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center right;
    }

    main .enterence .enterence-text {
        width: 70%;
    }

    main .enterence .enterence-photo {
        display: none;
    }


    main .proses .proses-child {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    main .proses .proses-child div {
        display: none;
    }

    main .proses .proses-child ol {
        width: 75%;
        margin: 0 auto;
        padding: 15px;
        background-color: rgba(245, 245, 220, .8);
    }

    main .proses .proses-child ol li {
        list-style-position: inside;
        text-align: justify;
    }

    main .profession-more {
        width: 90%;
    }
}

@media(max-width: 700px) {
    main .information .information-child {
        flex-wrap: wrap;
        gap: 0;
    }

    main .information .information-child .information-children {
        width: 90%;
        margin: 15px auto;
    }

    main .enterence {
        background-position: right 88%;
    }

    main .enterence .enterence-text {
        width: 75%;
    }

    main .proses h1 {
        font-size: 1.5rem;
    }

    main .profession-more {
        width: 95%;
    }

    main .profession-more p {
        width: 75%;
    }

    main .profession-more h1 {
        text-align: center;
    }

    main .profession-more div {
        width: 90%;
    }

    main .profession-more div span {
        width: 48%;
        height: 73px;
    }

    main .profession-more dir {
        width: 90% !important;
    }
}

@media(max-width: 600px) {
    main .enterence {
        width: 98%;
        padding: 80px 5px;
    }

    main .enterence .enterence-text {
        padding: 0 5px;
    }

    main .proses {
        padding: 20px 5px;
    }

    main .proses .proses-child {
        background-size: 100%;
        background-position: center center;
    }

    main .proses .proses-child ol {
        width: 90%;
    }

    main .profession-more div {
        gap: 2%;
    }

    main .profession-more p {
        width: 95%;
    }

    main .profession-more h1 {
        font-size: 1.5rem;
    }

    main .profession-more div span {
        margin: 8px 0;
        min-height: 80px;
    }
}

@media(max-width: 475px) {
    html {
        font-size: 80%;
    }

    main .enterence {
        background-size: 70%;
        background-position: center 62%;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    main .enterence .enterence-text {
        width: 100%;
    }

    main .enterence .enterence-text .span-more {
        width: 100%;
        margin-top: 170px;
    }

    main .enterence .enterence-text span a {
        width: 100%;
        display: block;
        margin: 15px 0;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, .8);
    }

    main .enterence .enterence-text span a:hover {
        width: 100%;
    }
}

@media(max-width: 380px) {
    main .proses .proses-child {
        background-size: 120%;
    }

    main .proses .proses-child ol {
        width: 98%;
    }

    main .profession-more div span {
        margin: 8px 0;
        min-height: 85px;
    }
}


@media(min-width: 1600px) {
    html {
        font-size: 135%;
    }

    main .enterence .enterence-text span span {
        width: 270px !important;
    }

    main .enterence .enterence-text span a {
        width: 150px;
    }

    main .enterence .enterence-text span a:hover {
        width: calc(100% - 270px);
    }
}